name: Build LWJGL & jinput ARM64
on: [workflow_dispatch]  # Manual trigger
jobs:
  build:
    runs-on: macos-14  # Apple Silicon ARM64
    steps:
      - uses: actions/checkout@v4
      
      - name: Clone LWJGL
        run: git clone https://github.com/shadowfacts/lwjgl-arm64.git

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '8'
      
      - name: Build LWJGL
        working-directory: ./lwjgl-arm64
        env:
          JAVA_HOME: /Users/runner/hostedtoolcache/Java_Zulu_jdk/8.0.472-8/arm64
          CFLAGS: "-I$JAVA_HOME/include -I$JAVA_HOME/include/darwin"
          CPPFLAGS: "-I$JAVA_HOME/include -I$JAVA_HOME/include/darwin"
        run: |
          export JAVA_HOME=/Users/runner/hostedtoolcache/Java_Zulu_jdk/8.0.472-8/arm64
          
          # Fix tzdb.dat: remove directory, download real file
          rm -rf $JAVA_HOME/lib/tzdb.dat
          mkdir -p $JAVA_HOME/lib
          curl -L -o $JAVA_HOME/lib/tzdb.dat https://github.com/adoptium/temurin8u-jdk/raw/master/src/share/lib/tzdb.dat
          
          # Verify file (not directory)
          ls -la $JAVA_HOME/lib/tzdb.dat
          file $JAVA_HOME/lib/tzdb.dat
          
          ant generate-all
          ant jars
          ant compile_native
          cd libs/macosx
          zip -r ../lwjgl-platform-natives-osx.jar liblwjgl.dylib openal.dylib

      - name: Clone jinput
        run: git clone https://github.com/shadowfacts/jinput-arm64.git
        
      - name: Build jinput
        working-directory: ./jinput-arm64
        run: |
          brew install maven  # Xcode Command Line Tools include it
          mvn package -DskipTests
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: natives
          path: |
            lwjgl-arm64/libs/lwjgl-platform-natives-osx.jar
            jinput-arm64/plugins/OSX/target/osx-plugin-2.0.10-SNAPSHOT-natives-osx.jar
